.form-input{
    border: 1px solid #E7E7E7;
    border-radius: 3px;
    color: #555;
    padding: 10px 12px;

    &::-webkit-input-placeholder {
        color: #B1B1B1;
    }
      
    &:-ms-input-placeholder {
        color: #B1B1B1;
    }
      
    &::placeholder {
        color: #B1B1B1;
    }
      
}