body{
	font-family: iransans;
	background-color: #FFF;
	height: 100%;

}

.body-wrapper{
	direction: rtl;
	text-align: right;
	overflow-x: hidden;
}

p{
	line-height: 2.4;
	padding: 0 20px;
	text-align: justify;
	direction: ltr;
	text-align: left;
}

h1 {
  padding-bottom: 20px;
  direction: ltr;
  text-align: left;
}



.main-header {
	.svg-holder {
		z-index: 0;
		position: relative;

		.image-svg {
			// background-image: url(../img/rec.svg);
			background-repeat: no-repeat;
			background-size: 100% 100%;
			height: 801px;
			width: 422px;
			left: 57px;
			top: -136px;
			position: absolute;
			transform: rotate(45deg);
			z-index: 100;

			.image-inner {
				position: relative;
				left: 0;
				top: 0;
				height: 600px;
				width: 743px;
				z-index: 1;

				@include bp (xl) {
					left: -32px;
					top: 124px;
				}
				@include bp (lg) {
					left: -124px;
					top: 403px;
				}
				

				@include bp(sm) {
					display: none;
				}

				img {
					position: absolute;
					top: 0;
					left: 0;
					filter: grayscale(100%);
					width: 100%;
					height: 100%;
					border-radius: 31px;
				}

				.overlay {
					background-color:#6995f3;
					opacity: .6;
					height:100%;
					width: 100%;
					position: absolute;
					left: 0;
					top:0;
					border-radius: 30px;
				}
			}
		}	 	 
	}
}

.main-nav {
	z-index: 40;
	padding: 25px 0;
	font-size: 15px;
	position: relative;
	
	.nav-holder {
		display: flex;

		.nav-inner {
			position: absolute;
			right: 13%;
	
			@include bp(xs) {
				right: 10px;
				top: 45px;
			}
	
			#page-nav {
				width: 100%;
				/* If you want the navigation bar to stick on top
				position: sticky;
				top: 0;
				*/
	
				label {
					display: none;
					font-size: 27px;
	
					@include bp (sm) {
						display: inline-block;
						color: #94949a;
						font-style: normal;
						font-size: 23px;
						padding: 10px;
					}
				}
	
				#hamburger {
					display: none;
				}
	
				ul {
					list-style-type: none;
					margin: 0;
					padding: 0;
	
					@include bp (sm) {
						display: none;
						background-color: #FFF;
					}
	
					li {
						display: inline-block;
						padding: 10px;
						box-sizing: border-box;
	
						@include bp (sm) {
							display: block;
						}
	
						a {
							color: #000;
							text-decoration: none;
						}
					}
				}
	
				input:checked ~ ul {
	
					@include bp (sm){
						display: block;	
					}
				}
				.free_btn  {
					background-color: #5ba4f3;
					color: #FFF;
					font-size: 13px;
					border-radius: 20px;
					padding: 7px 16px;
				}
			}
		}
	}
}

.index-header {
  padding-top: 110px;
}

.flex-container1 {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	justify-content: center;
	align-items: center;
	position: relative;

	 @include bp (xs) {
		height: 20%;
		left: 24px;
		top: 196px;
	 }

	.a {
		flex: 1;
        background: #4B4B4B;
        padding: 10px;
		width: 570px;
        height: 300px;
        border: 3px solid rgba(0,0,0,.2); 
        color: white;
        font-weight: bold;
        font-size: 2em;
		text-align: center;
		position: absolute;
		left: 60%;
		transform: translateX(-50%);
		
		@include bp (xs) {
			display: none;
		} 
	
	  h1 {
		  padding-top: 60px;
		  display: flex;
		  justify-content: center;
		  align-items: center;
	  }
	}



	.b {
		
		flex: 1;
		background:#EAECED;
		padding: 10px;
		width: 600px;
		height: 600px;
		color: white;
		font-weight: bold;
		font-size: 2em;
		text-align: center;
		right: 34%;
		position: relative;
		z-index: -1;

		@include bp (xs) {
			right: 0;
		}

		&:before {
			content: "";
			width: 1000px;
			height: 600px;
			background:#EAECED;
			position: absolute;
			right: 100%;
			top: 0;
			transform: translateX(10%);
		}
	}
}


.s {
	position: relative;
}

.flex-container2 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: relative;
	bottom: 92px;
	list-style-type: none;

		@include bp (lg) {
			left:300px;
		}

		@include bp (md) {
			left:200px;
			bottom: 52px;
		}

		@include bp (sm) {
			left: 144px;
		}

		@include bp (xs) {
			left: 0;
			bottom: 63px;
		}
	

	.c {
		background:#727272;
		padding: 10px;
		width: 350px;
		height: 200px;
		color: white;
		font-weight: bold;
		font-size: 2em;
		text-align: center;

		@include bp (lg) {
		width: 300px;
		height: 150px;
		}

		@include bp (md) {
		width: 180px;
		height: 90px;
		}

		@include bp (sm) {
			width: 143px;
			height: 81px;
		}

		@include bp (xs) {
			width: 80px;
			height: 40px;
		}

		&:after {
			content: "";
				width: 300px;
				height: 200px;
				background:#727272;
				position: absolute;
				left: 100%;
				top: 0;
				transform: translateX(-10%);

				@include bp (lg) {
					width: 300px;
					height: 150px;
				}

				@include bp (md) {
					width: 180px;
					height: 90px;
			}

			@include bp (xs) {
				width: 0px;
				height: 0px;
			}

		}
	}

	.d {
        background:#727272;
        padding: 10px;
		width: 350px;
		height: 200px;
        color: white;
        font-weight: bold;
        font-size: 2em;
		text-align: center;

		@include bp (lg) {
			width: 300px;
			height: 150px;
		}

		@include bp (md) {
			width: 180px;
			height: 90px;
		}

		@include bp (sm) {
			width: 143px;
			height: 81px;
		}

		@include bp (xs) {
			width: 80px;
			height: 40px;
		}
	}


	.e {
        background:#727272;
        padding: 10px;
		width: 350px;
		height: 200px;
        color: white;
        font-weight: bold;
        font-size: 2em;
		text-align: center;

		@include bp (lg) {
			width:300px;
			height: 150px;
		}

		@include bp (md) {
			width: 180px;
			height: 90px;
		}

		@include bp (sm) {
			width: 143px;
			height: 81px;
		}

		@include bp (xs) {
			width: 80px;
			height: 40px;
		}
	}
}

.traveling {

	.traveling-guid {
		padding: 150px 0;

		@include bp (xs) {
		padding-top: 87px;
		}
        .traveling-guid-flex {
			
			@include bp (md) {
				display: flex;
			flex-direction: column-reverse;
			}
		}

		.traveling-guid-title {
			h1 {
				padding:0 20px;

				@include bp (sm) {
					text-align: center;
					padding-bottom: 20px;
				}

				@include bp (xs) {
				font-size: 30px;

				}
			}
		}
	}
}

.traveling-info {
	 
	.traveling-info-flex {
		@include bp (md) {
			display: flex;
			flex-direction: column-reverse;
		}
	}
	.traveling-info-title {

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		h1 {
			padding: 0 20px;

			@include bp (xs) {
				font-size: 25px;
				text-align:center;
			}
		}

		@include bp (md) {
			padding-bottom: 100px;
		}
	}
	.traveling-info-img {
		img {
			@include bp (lg) {
				width: 500px;
			}

			@include bp (md) {
				width: 100%;
				padding-bottom: 70px;
			}
		}
	}
}

.traveling-tips {
	.traveling-tips-season {
		padding-top: 270px;
		padding-bottom: 30px;

		@include bp (md) {
			padding-top: 60px;
		}
		
		.traveling-tips-img1 {
			position: relative;

			@include bp (sm) {
				display: flex;
				justify-content: center;
				padding-bottom: 120px;
			}

			@include bp (ipad-pro) {
				bottom:60px;
			}
	

			.light-img {
				height: 473px;
				position: relative;
				bottom: 50%;
				
				@include bp (md) {
				bottom: 10%;
				width:  250px;
				top: 50px;
				height: 370px;
				}

				@include bp (xs) {
					width: 90%;
					height: 90%;
				}

				@include bp (ipad-pro) {
					width: 300px
				}
			}

			.dark-img	{
				position: absolute;
				bottom: 70%;
				right: 11%;
				
				@include bp (md) {
					bottom:30%;
					width: 250px;
					right: 48px;
				}

				@include bp (xs) {
					width: 80%;
					height: 80%;
				}

				@include bp (ipad-pro) {
					width: 300px
				}
			}
		}

		.traveling-tips-img2 {
			@include bp (sm) {
				display: flex;
				justify-content: center;
			}

			img {
				@include bp (ipad-pro) {
					width: 300px;
					padding-right: 15px;;
				}
			}
		}

		.traveling-tips-info {

			@include bp (md) {
				padding-top: 90px;
			}

			h1 {
				@include bp (xs) {
					text-align: center;
					font-size: 30px;
				}
			}
		}
	}
}



.traveling-action  {
	padding-top: 120px;
	padding-bottom: 150px;

	.easy-traveling {
		.easy-traveling-main-title {
			padding-bottom: 200px;
			display: flex;
			justify-content: center;
               
			@include bp (md) {
			  padding-bottom: 90px;
			}

			h1 {
				@include bp (md) {
					padding-bottom: 90px;
					
				  }

				  @include bp (sm) {
					text-align: center;
					font-size:30px;
				}
			}
		}

		.easy-traveling-flex {
			@include bp (md) {
				display: flex;
				flex-direction: column-reverse;
			}
		}

		.easy-traveling-title {
			display: FLEX;
			flex-direction: column;
			justify-content: center;

			@include bp (md) {
				padding-top: 90px;
				padding-bottom: 100px;
			}

			h1 {
				@include bp (lg) {
					padding: 0 84px;
				}

				@include bp (md) {
					padding-left: 20px!important;
					padding-right: 20px!important;
				}

				@include bp (xs) {
					text-align: center;
					font-size: 29px;
				}
			}
		}

		.easy-traveling-img {
			position: relative;

			.dark-img {
				height: 473px;
				position: relative;
			}

			.light-img {
				position: absolute;
				right: 27%;
				z-index: -1;
				bottom: 10%;

				&:before {
					content: "";
					width: 1000px;
					height: 600px;
					background:#ECED;
					position: relative;
					right: 100%;
					top: 0;
					transform: translateX(-10%);
				}

				@include bp (xs) {
					right: 60px;
					bottom: 7%;
				}
			}
		}

		.traveling-mystery-title {
			display: FLEX;
			flex-direction: column;
			justify-content: flex-start;

			h1 {
				@include bp (xs) {
					text-align: center;
					font-size: 29px;
				}
			}

		}

		.traveling-mystery-img {
			position: relative;
			bottom: 275px;

			@include bp (md) {
				bottom: 140px;
			}


			.light-img {
				position: relative;
				z-index: -1;
				top: 14%;

				&:after {
					content: "";
					width: 300px;
					height: 200px;
					background: #727272;
					position: absolute;
					left: 100%;
					top: 0;
					transform: translateX(-10%);
					 }
				}
				
			.dark-img {
				position: absolute;
				right: 15%;

				@include bp (xs) {
					position: absolute;
					bottom: -32px;
				}
			}
		}
	}
}


.podcast-video {
	padding-bottom: 150px;
	
	.video-inner {
		.podcast-detail-holder {
			display: flex; 
			justify-content:flex-end;

			.podcast-detail {
               .part1 {
				display: flex; 
				justify-content:right;

				i {
					padding-left: 15px;

				}
				h5 {
				&:after {
					display: inline-block;
					margin: 0 10 8px 10px;
					height: 3px;
					content: " ";
					text-shadow: none;
					background-color: #999;
					width: 100px;
					}
				  }
			   }

			   @include bp (xs) {
				   display: none;
			   }
			}
		}

		.podcast-title {
		display: flex;
		justify-content: center;
		align-items: center;

		@include bp (md) {
		padding-top: 150px;
		   }
		}

		.podcast-img {
		position: relative;
		bottom: 30px;

		.light-img {
		position: absolute;
		bottom: 50%;
		transform: translateY(42%);
		right:80px;
		z-index: -1;
		   }
		}

		video {
		padding-bottom: 30px;
          @include bp (xs) {
			width: 100%;
			height: 100%;
		  }

		 

		}
	}
}

.about-us{

	padding-bottom: 150px;
	@include bp (md) {
		padding-bottom: 400px;
	}

	.about-us-flex {
		position: relative;
		@include bp (md) {
			
		}

		p {
			position: absolute;
			top: 600px;
			right: 40%;
	
			@include bp (md) {
				position: absolute;
				top: 2000px;
				right: 0;
			}

			@include bp (sm) {
				position: absolute;
				top: 1650px;
			}
		}
	}

	.about-title {
		padding-top: 80px;
		padding-bottom: 350px;

		@include bp (md) {
			padding-top: 0;
			padding-bottom: 30px;
		}

		h1 {
		text-align: center;

		@include bp (xs) {
			text-align: center;
			font-size: 25px;
		}

		}
	}

	.about-content1 {
		.light-img {
		  
			@include bp (md) {
				width: 100%;
			}
		} 
	}

	.about-content {
		position: relative;
		bottom: 200px;
		right: 100px;

		@include bp (md) {
			bottom: -123px;
		}

		@include bp (xs) {
			right: 0;
		}

		.light-img {
		 height: 600px;

		 @include bp (xs) {
			width: 100%;
		}
	   }

	   .dark-img {
		position: absolute;
		left: 40%;
		bottom: 75px;

		@include bp (xs) {
			position: absolute;
			width: 90%;
			left: 15%
		}
	   }
	}
}


#footer {
		color: white;
		background-color: #000;
		padding-top: 70px;
		border: 1px solid gray;
		position: relative;
		
		.footer-flex {

			@include bp (md) {
				display: flex;
				flex-direction: column;
			}
			@include bp (sm) {
				display: flex;
				flex-direction: column;
			}

			@include bp (xs) {
				display: flex;
				flex-direction: column;
			}

			.footer-nav {
				display: flex;
				flex-direction: column;

				@include bp (md) {
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					padding-bottom: 40px;
				}

				a {
					color: white;
					padding: 10px;

					@include bp (xs) {
					   
						padding: 0;
						font-size: 12px;
					}
				}
			}
		}
		.footer-content {
			.social {
				display: flex;
				flex-direction: column;

				@include bp (md) {
					text-align: center;
					padding-top: 40px;
					padding-bottom: 20px;
				}

				a {
					color: white;
					padding: 10px;
				}

				.social-inner {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				padding-top: 20px;
				 
					a {
						padding: 15px;
						color: white;

						i {
							font-size: 32px;
						}
					}
				}
				
				h5 {
					@include bp (md) {
						text-align: center;
					}
				}
			}

			.footer-address-inner {
				display: flex;
				flex-direction: column;
				justify-content: center;

				p,h5 {
					text-align: center;
				}

				p {
					padding-bottom: 30px;
				}
			}
		}

			&:after {
				content:"";
				width: 1000px;
				height: 100%;
				background:black;
				position: absolute;
				left: 100%;
				top: 0;

				@include bp (md) {
					height: 100%;
				}
			}

			&:before {
				content:"";
				width: 1000px;
				height: 100%;
				background:black;
				position: absolute;
				right: 100%;
				top: 0;

				@include bp (md) {
					height: 100%;
				}
			}
		}
		

		#Search {
			.text {
				position: relative;
				width: 270px;
				height: 36px;
				margin: 0 auto;
				display: table;
				box-sizing: border-box;
				border: 2px solid #4d7fc3;
				border-radius: 4px;
				font-size: 16px;
				background-color: white;
				padding: 2px 2px 2px 10px;
			}

			.submit {
				position: absolute;
				width: 30px;
				height: 30px;
				top: 0px;
				right: 0px;
				/* background-color: #4d7fc3; */
				   border: none;
				   color: white;
				   background-image: url('file:///C|/Users/heilemann/Pictures/LoginPfeil.JPG');
				   display: block;
				   background-position: 100px 100px 100px 100px; 
				   
				/* background-repeat: no-repeat; */
				/* padding: 2px 2px 2px 30px; */
					z-index: -1;
				margin: 10px;
				cursor: pointer;
			}

		}
		