@font-face {
  font-family: '7Lacademy';
  src:  url('fonts/7Lacademy.eot?q61tw3');
  src:  url('fonts/7Lacademy.eot?q61tw3#iefix') format('embedded-opentype'),
    url('fonts/7Lacademy.ttf?q61tw3') format('truetype'),
    url('fonts/7Lacademy.woff?q61tw3') format('woff'),
    url('fonts/7Lacademy.svg?q61tw3#7Lacademy') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '7Lacademy' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chat:before {
  content: "\e90e";
}
.icon-bars:before {
  content: "\e918";
}
.icon-map:before {
  content: "\e919";
}
.icon-standing-up-man:before {
  content: "\e91a";
}
.icon-girl:before {
  content: "\e91b";
}
.icon-location:before {
  content: "\e91c";
}
.icon-checked-1:before {
  content: "\e917";
}
.icon-add:before {
  content: "\e900";
}
.icon-down-arrow .path1:before {
  content: "\e901";
  color: rgb(255, 193, 7);
}
.icon-down-arrow .path2:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-down-arrow .path3:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-download-arrow:before {
  content: "\e904";
}
.icon-check-list:before {
  content: "\e905";
}
.icon-certificate:before {
  content: "\e906";
}
.icon-search:before {
  content: "\e907";
}
.icon-home-1:before {
  content: "\e908";
}
.icon-medal:before {
  content: "\e909";
}
.icon-mortarboard:before {
  content: "\e90a";
}
.icon-notification:before {
  content: "\e90b";
}
.icon-settings-1:before {
  content: "\e90c";
}
.icon-unlink:before {
  content: "\e90d";
}
.icon-headphones:before {
  content: "\e90f";
}
.icon-clip:before {
  content: "\e910";
}
.icon-cancel-music:before {
  content: "\e911";
}
.icon-back-1:before {
  content: "\e912";
}
.icon-attach-icon:before {
  content: "\e913";
}
.icon-attachment:before {
  content: "\e914";
}
.icon-arrow-point-to-right:before {
  content: "\e915";
}
.icon-avatar:before {
  content: "\e916";
}
