@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?q61tw3');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?q61tw3#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?q61tw3') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?q61tw3') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?q61tw3##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chat {
  &:before {
    content: $icon-chat; 
  }
}
.icon-bars {
  &:before {
    content: $icon-bars; 
  }
}
.icon-map {
  &:before {
    content: $icon-map; 
  }
}
.icon-standing-up-man {
  &:before {
    content: $icon-standing-up-man; 
  }
}
.icon-girl {
  &:before {
    content: $icon-girl; 
  }
}
.icon-location {
  &:before {
    content: $icon-location; 
  }
}
.icon-checked-1 {
  &:before {
    content: $icon-checked-1; 
  }
}
.icon-add {
  &:before {
    content: $icon-add; 
  }
}
.icon-down-arrow .path1 {
  &:before {
    content: $icon-down-arrow-path1;  
    color: rgb(255, 193, 7);
  }
}
.icon-down-arrow .path2 {
  &:before {
    content: $icon-down-arrow-path2;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.icon-down-arrow .path3 {
  &:before {
    content: $icon-down-arrow-path3;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.icon-download-arrow {
  &:before {
    content: $icon-download-arrow; 
  }
}
.icon-check-list {
  &:before {
    content: $icon-check-list; 
  }
}
.icon-certificate {
  &:before {
    content: $icon-certificate; 
  }
}
.icon-search {
  &:before {
    content: $icon-search; 
  }
}
.icon-home-1 {
  &:before {
    content: $icon-home-1; 
  }
}
.icon-medal {
  &:before {
    content: $icon-medal; 
  }
}
.icon-mortarboard {
  &:before {
    content: $icon-mortarboard; 
  }
}
.icon-notification {
  &:before {
    content: $icon-notification; 
  }
}
.icon-settings-1 {
  &:before {
    content: $icon-settings-1; 
  }
}
.icon-unlink {
  &:before {
    content: $icon-unlink; 
  }
}
.icon-headphones {
  &:before {
    content: $icon-headphones; 
  }
}
.icon-clip {
  &:before {
    content: $icon-clip; 
  }
}
.icon-cancel-music {
  &:before {
    content: $icon-cancel-music; 
  }
}
.icon-back-1 {
  &:before {
    content: $icon-back-1; 
  }
}
.icon-attach-icon {
  &:before {
    content: $icon-attach-icon; 
  }
}
.icon-attachment {
  &:before {
    content: $icon-attachment; 
  }
}
.icon-arrow-point-to-right {
  &:before {
    content: $icon-arrow-point-to-right; 
  }
}
.icon-avatar {
  &:before {
    content: $icon-avatar; 
  }
}

