/* Base Styles -------------------- */
@import "variables";

@font-face {
	font-family: iransans;
	font-style: normal;
	font-weight: bold;
	src: url('#{$path-fonts}/iransans/eot/IRANSansWeb_Bold.eot');
	src: url('#{$path-fonts}/iransans/eot/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('#{$path-fonts}/iransans/woff2/IRANSansWeb_Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('#{$path-fonts}/iransans/woff/IRANSansWeb_Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('#{$path-fonts}/iransans/ttf/IRANSansWeb_Bold.ttf') format('truetype');
}
@font-face {
	font-family: iransans;
	font-style: normal;
	font-weight: 500;
	src: url('#{$path-fonts}/iransans/eot/IRANSansWeb_Medium.eot');
	src: url('#{$path-fonts}/iransans/eot/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('#{$path-fonts}/iransans/woff2/IRANSansWeb_Medium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('#{$path-fonts}/iransans/woff/IRANSansWeb_Medium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('#{$path-fonts}/iransans/ttf/IRANSansWeb_Medium.ttf') format('truetype');
}
@font-face {
	font-family: iransans;
	font-style: normal;
	font-weight: 300;
	src: url('#{$path-fonts}/iransans/eot/IRANSansWeb_Light.eot');
	src: url('#{$path-fonts}/iransans/eot/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('#{$path-fonts}/iransans/woff2/IRANSansWeb_Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('#{$path-fonts}/iransans/woff/IRANSansWeb_Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('#{$path-fonts}/iransans/ttf/IRANSansWeb_Light.ttf') format('truetype');
}
@font-face {
	font-family: iransans;
	font-style: normal;
	font-weight: 200;
	src: url('#{$path-fonts}/iransans/eot/IRANSansWeb_UltraLight.eot');
	src: url('#{$path-fonts}/iransans/eot/IRANSansWeb_UltraLight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('#{$path-fonts}/iransans/woff2/IRANSansWeb_UltraLight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('#{$path-fonts}/iransans/woff/IRANSansWeb_UltraLight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('#{$path-fonts}/iransans/ttf/IRANSansWeb_UltraLight.ttf') format('truetype');
}
@font-face {
	font-family: iransans;
	font-style: normal;
	font-weight: normal;
	src: url('#{$path-fonts}/iransans/eot/IRANSansWeb.eot');
	src: url('#{$path-fonts}/iransans/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('#{$path-fonts}/iransans/woff2/IRANSansWeb.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('#{$path-fonts}/iransans/woff/IRANSansWeb.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('#{$path-fonts}/iransans/ttf/IRANSansWeb.ttf') format('truetype');
}

@font-face {
	font-family: '#{$icomoon-font-family}';
	src:  url('#{$path-fonts}/#{$icomoon-font-family}/#{$icomoon-font-path}/#{$icomoon-font-family}.eot?y6bwbb');
	src:  url('#{$path-fonts}/#{$icomoon-font-family}/#{$icomoon-font-path}/#{$icomoon-font-family}.eot?y6bwbb#iefix') format('embedded-opentype'),
	  url('#{$path-fonts}/#{$icomoon-font-family}/#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?y6bwbb') format('truetype'),
	  url('#{$path-fonts}/#{$icomoon-font-family}/#{$icomoon-font-path}/#{$icomoon-font-family}.woff?y6bwbb') format('woff'),
	  url('#{$path-fonts}/#{$icomoon-font-family}/#{$icomoon-font-path}/#{$icomoon-font-family}.svg?y6bwbb##{$icomoon-font-family}') format('svg');
	font-weight: normal;
	font-style: normal;
}

// Font Icons
[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: '#{$icomoon-font-family}' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
.icon-chat {
    &:before {
      content: $icon-chat; 
    }
}
.icon-bars {
    &:before {
      content: $icon-bars; 
    }
}
.icon-map {
    &:before {
      content: $icon-map; 
    }
}
.icon-standing-up-man {
    &:before {
      content: $icon-standing-up-man; 
    }
}
.icon-girl {
    &:before {
      content: $icon-girl; 
    }
}
.icon-location {
    &:before {
      content: $icon-location; 
    }
}
.icon-checked-1 {
    &:before {
      content: $icon-checked-1; 
    }
}
.icon-add {
    &:before {
      content: $icon-add; 
    }
}
.icon-down-arrow .path1 {
    &:before {
      content: $icon-down-arrow-path1;  
      color: rgb(255, 193, 7);
    }
}
.icon-down-arrow .path2 {
    &:before {
      content: $icon-down-arrow-path2;  
      margin-left: -1em;  
      color: rgb(0, 0, 0);
    }
}
.icon-down-arrow .path3 {
    &:before {
      content: $icon-down-arrow-path3;  
      margin-left: -1em;  
      color: rgb(0, 0, 0);
    }
}
.icon-download-arrow {
    &:before {
      content: $icon-download-arrow; 
    }
}
.icon-check-list {
    &:before {
      content: $icon-check-list; 
    }
}
.icon-certificate {
    &:before {
      content: $icon-certificate; 
    }
}
.icon-search {
    &:before {
      content: $icon-search; 
    }
}
.icon-home-1 {
    &:before {
      content: $icon-home-1; 
    }
}
.icon-medal {
    &:before {
      content: $icon-medal; 
    }
}
.icon-mortarboard {
    &:before {
      content: $icon-mortarboard; 
    }
}
.icon-notification {
    &:before {
      content: $icon-notification; 
    }
}
.icon-settings-1 {
    &:before {
      content: $icon-settings-1; 
    }
}
.icon-unlink {
    &:before {
      content: $icon-unlink; 
    }
}
.icon-headphones {
    &:before {
      content: $icon-headphones; 
    }
}
.icon-clip {
    &:before {
      content: $icon-clip; 
    }
}
.icon-cancel-music {
    &:before {
      content: $icon-cancel-music; 
    }
}
.icon-back-1 {
    &:before {
      content: $icon-back-1; 
    }
}
.icon-attach-icon {
    &:before {
      content: $icon-attach-icon; 
    }
}
.icon-attachment {
    &:before {
      content: $icon-attachment; 
    }
}
.icon-arrow-point-to-right {
    &:before {
      content: $icon-arrow-point-to-right; 
    }
}
.icon-avatar {
    &:before {
      content: $icon-avatar; 
    }
}
