@mixin bp($class) {
	@if $class == 360px {
	  @media (max-width: 360px) { @content; }
	}
	 
	@else if $class == 480px {
	  @media (max-width: 480px) { @content; }
	}
  
	@else if $class == xs {
	  @media (max-width: 575px) { @content; }
	}
  
	@else if $class == sm {
	  @media (max-width: 767px) { @content; }
	}
  
	@else if $class == 600px {
	  @media (max-width: 600px) { @content; }
	}
	 
	@else if $class == md {
	  @media (max-width: 991px) { @content; }
	}
	 
	@else if $class == ipad-pro {
		@media (max-width: 1024px) { @content; }
	  }

	@else if $class == lg {
	  @media (max-width: 1200px) { @content; }
	}
  
	@else if $class == xl {
	  @media (min-width: 1200px) { @content; }
	}
  
	@else if $class == retina {
	  @media (-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi) { @content; }
	}
  
	@else if $class == "ipad-pro" {
	  @media only screen and (min-device-width : 1024px) and (max-device-width : 1366px) { @content; }
	}
	
	@else {
	  @warn "Breakpoint mixin supports: xs, sm, md, lg, xl, 600px, retina";
	}
  }