//Custom variables

// Descriptive color variables
$main-color-blue: #007BEC;
$main-nav-bg: #2B3440;
$secondary-color-light-blue: #E4EFF9;

$archive-btn-color: #F8F8F8;

$index-heading-color: #545454;

$footer-bg : #58738B;
$footer-contact-bg: #50697F;

$progress-completed: #95C558;
$progress-current: #787A7B;
$progress-uncompleted: #DFDFDF;

// Functional color variables

// Font stacks
$icomoon-font-family: "7Lacademy" !default;
$icomoon-font-path: "fonts" !default;

$icon-chat: "\e90e";
$icon-bars: "\e918";
$icon-map: "\e919";
$icon-standing-up-man: "\e91a";
$icon-girl: "\e91b";
$icon-location: "\e91c";
$icon-checked-1: "\e917";
$icon-add: "\e900";
$icon-down-arrow-path1: "\e901";
$icon-down-arrow-path2: "\e902";
$icon-down-arrow-path3: "\e903";
$icon-download-arrow: "\e904";
$icon-check-list: "\e905";
$icon-certificate: "\e906";
$icon-search: "\e907";
$icon-home-1: "\e908";
$icon-medal: "\e909";
$icon-mortarboard: "\e90a";
$icon-notification: "\e90b";
$icon-settings-1: "\e90c";
$icon-unlink: "\e90d";
$icon-headphones: "\e90f";
$icon-clip: "\e910";
$icon-cancel-music: "\e911";
$icon-back-1: "\e912";
$icon-attach-icon: "\e913";
$icon-attachment: "\e914";
$icon-arrow-point-to-right: "\e915";
$icon-avatar: "\e916";



// Asset paths
$path-image   :   '../img';
$path-fonts     :  '../fonts';